/* Apply box-sizing border-box to all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin and padding for all elements */
html, body {
  margin: 0;
  padding: 0;
}

/* Set the background color for the entire page */
body {
  background-color: #121212;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Set the style for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style for the navigation menu */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 4rem;
  font-size: 1.3rem;
  font-family: cascadia code;
}

nav ul li a {
  color: #f0f0f0;
  text-decoration: none;
  transition: all 0.2s ease;
}

.topnav a:hover {
  color: rgb(150, 150, 150);
}

.about-me  a:hover {
  color: #bbb;
}

/* Style for the banner section */
#banner {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/221/733/original/abstract-flowing-light-ombre-gradient-background-free-video.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
}

#banner h2 {
  font-size: 3rem;
  font-family: cascadia code;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 1rem;
}

#banner p {
  font-family: cascadia code;
  font-size: 1rem;
  color: #f0f0f0;
  text-align: center;
}

a {
  text-decoration: none; 
  color: #8f5ba5; 
}

/* Style for the main content sections */
section {
  padding: 2rem;
}

section h2 {
  font-size: 2rem;
  font-family: cascadia code;
  text-align: center;
  margin-bottom: 1rem;
}

section p {
  font-size: 1.2rem;
  font-family: cascadia code;
  text-align: justify;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.vertical-center a {
  color: #9559af;
  text-decoration: none;
  transition: all 0.2s ease;
}

.vertical-center a:hover {
  color: #d4d4d4;
}

.vertical-center p {
  font-size: 0.25rem;
}

.about-me {
  padding-top: 65px;
  font-family: cascadia code;
  width: 45%;
  max-width: 100%;
  margin: 0 auto;
  font-family:Verdana;
}
.animated-text {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.grid-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 375px 375px 50px;
  grid-gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  width: 95%;
  height: 95%;
}
.grid-item:hover {
  background-color: rgb(53, 53, 53);
  /* cursor: pointer; */
  transition: all 0.2s ease;
}
#digitized_daniel{
  cursor: pointer;
}
.grid-item img {
  cursor: pointer;
}
.grid-item h2 {
  color: rgb(233, 232, 232);
  font-family: cascadia code;
  font-size: 1.5rem;
}
.grid-item p {
  padding-left: 1.25rem;
  color: aliceblue;
  font-family: cascadia code;
  font-size: 0.9rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #161616;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid #330155;
  width: 50%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal a {
  font-size: 1.5em;
  font-family: cascadia code;
  color: #9559af;
}
.modal a:hover {
  color: #d4d4d4;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Style for the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #3f0168;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

footer a {
  color: #e7e7e7;
  text-decoration: none;
  transition: all 0.2s ease;
}

footer a:hover {
  color: #afafaf;
}