<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ZuhairHK</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="top-div">
        <h1 class="t1">Text</h1>
        <img class="top-banner" src="static/setupupdate9.jpg">
    </div>

    <section class="main-section">
        <h1 class="top-heading"><center>HELLO</center></h1>
        <center><img class="dp" src="static/me_pic.jpg" alt="Display Pic"></center>
        <h3><center>PLACE HOLDER TEXT MY NAME ZUHIAR YESSZIRRR</center></h3>
        <div class="top-space"></div>
        <center>
            <a href="/blog"><!--target="_blank">-->
                <button class="main-buttons" type="button">Blog</button>
            </a>
            <div class="space-between"></div>

            <a href="/projects"><!--target="_blank">-->
                <button class="main-buttons" type="button">Projects</button>
            </a>
            <div class="space-between"></div>

            <a href="/tracks"> <!--target="_blank">-->
                <button class="main-buttons" type="button">Music</button>
            </a>
        </center>
        <div class="bt-space"></div>
    </section>
    
</body>