<!DOCTYPE html>
<html>
  <head>
    <title>zuhairhk</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://kit.fontawesome.com/e355c8b74c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume" target="_blank">Resume</a></li>
      </ul>
    </nav>
    <main>
      <h1 style="padding: 20px;">stop lurking, page under construction!</h1>
      <ul>
        <li>
          <h2>Project 1</h2>
          <p>Description of Project 1</p>
        </li>
        <li>
          <h2>Project 2</h2>
          <p>Description of Project 2</p>
        </li>
        <li>
          <h2>Project 3</h2>
          <p>Description of Project 3</p>
        </li>
      </ul>
    </main>
    <footer>
      <a href="mailto:zuhair.khan@torontomu.ca" target="_blank" title="Contact"><i class="fa fa-envelope" style="font-size: 2em; margin-right: 30px; color: #e7e7e7;"></i></a>
      <a href="https://github.com/zuhairhk" target="_blank" title="Github"><i class="fab fa-github" style="font-size: 2em; margin-right: 30px; color: #e7e7e7;"></i></a>
      <a href="https://www.linkedin.com/in/zuhairhkhan" target="_blank" title="LinkedIn"><i class="fab fa-linkedin" style="font-size: 2em; margin-right: 30px; color: #e7e7e7;"></i></a>
  </footer>
  </body>
</html>