<!DOCTYPE html>
<html>
  <head>
    <title>zuhairhk</title>
    <link rel="icon" href="static/icon.png">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://kit.fontawesome.com/e355c8b74c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="topnav" style="background-color: rgb(55, 16, 92); padding: 5px;">
      <ul>
        <li><a href="/"><u>Home</u></a></li>
        <li><a href="/projects"><u>Projects</u></a></li>
        <li><a href="/resume" target="_blank"><u>Resume</u></a></li>
      </ul>
    </nav>
    <main>
      <div class="grid-wrapper">
        <div class="grid-item">
          <div class="content-wrapper">
            <h2>Digitized Daniel</h2>
            <img src="static/digitized_daniel.png">
            <div class="flex-container">
              <p>IoT Compatible discord bot with additional features such as facial/eye tracking, image generator, web scraping, and pomodoro timer.</p>
              <p style="font-size: 0.72rem; padding: 0; padding-bottom: 10px;">Technologies Used: Nextcord API, OpenCV, TuyaIoT API, PIL, asyncio</p>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="content-wrapper">
            <h2>Personal Website</h2>
              <img src="static/logo.png">
              <div class="flex-container">
                <p>Fullstack web application </p>
                <p style="font-size: 0.72rem; padding: 0; padding-bottom: 10px;">Technologies Used: Nextcord API, OpenCV, TuyaIoT API, PIL, asyncio</p>
              </div>
            </div>
        </div>

        <div class="grid-item">
          <div class="content-wrapper">
            <h2>Light Controller</h2>
              <img src="static/digitized_daniel.png">
              <div class="flex-container">
                <p>IoT Compatible discord bot with additional features such as facial/eye tracking, image generator, web scraping, and pomodoro timer.</p>
                <p style="font-size: 0.72rem; padding: 0; padding-bottom: 10px;">Technologies Used: Nextcord API, OpenCV, TuyaIoT API, PIL, asyncio</p>
              </div>
            </div>
        </div>

        <div class="grid-item">
          <div class="content-wrapper">
            <h2>Link</h2>
              <img src="static/digitized_daniel.png">
              <div class="flex-container">
                <p>IoT Compatible discord bot with additional features such as facial/eye tracking, image generator, web scraping, and pomodoro timer.</p>
                <p style="font-size: 0.72rem; padding: 0; padding-bottom: 10px;">Technologies Used: Nextcord API, OpenCV, TuyaIoT API, PIL, asyncio</p>
              </div>
            </div>
        </div>

        <div class="grid-item">
          <div class="content-wrapper">
            <h2>Auto Food</h2>
              <img src="static/digitized_daniel.png">
              <div class="flex-container">
                <p>IoT Compatible discord bot with additional features such as facial/eye tracking, image generator, web scraping, and pomodoro timer.</p>
                <p style="font-size: 0.72rem; padding: 0; padding-bottom: 10px;">Technologies Used: Nextcord API, OpenCV, TuyaIoT API, PIL, asyncio</p>
              </div>
            </div>
        </div>

        <div class="grid-item">
          <div class="content-wrapper">
            <h2>Spotify Playlist Sorter</h2>
              <img src="static/digitized_daniel.png">
              <div class="flex-container">
                <p>IoT Compatible discord bot with additional features such as facial/eye tracking, image generator, web scraping, and pomodoro timer.</p>
                <p style="font-size: 0.72rem; padding: 0; padding-bottom: 10px;">Technologies Used: Nextcord API, OpenCV, TuyaIoT API, PIL, asyncio</p>
              </div>
            </div>
        </div>
      </div>
    </main>
    <footer>
      <a href="mailto:zuhair.khan@torontomu.ca" target="_blank" title="Contact"><i class="fa fa-envelope" style="font-size: 2em; margin-right: 30px;"></i></a>
      <a href="https://github.com/zuhairhk" target="_blank" title="Github"><i class="fab fa-github" style="font-size: 2em; margin-right: 30px;"></i></a>
      <a href="https://www.linkedin.com/in/zuhairhkhan" target="_blank" title="LinkedIn"><i class="fab fa-linkedin" style="font-size: 2em; margin-right: 30px;"></i></a>
  </footer>
  </body>
</html>