<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ZuhairHK</title>
</head>

<body style="background-color: rgb(56, 58, 59); color: white; margin: auto; width: 50%; padding: 100px;">
  <!--background-image: url('https://www.freevector.com/uploads/vector/preview/30514/Cars-Cliparts.jpg');-->
  <div>
    <h1>
      Seriously need to fix this... 😞 😞 😞 <br><br>
        Cars<br>
        Orange<br>
        Abbel<br>
        Donut<br>
        Rimoji...<br>
        Octopus... ?<br>
        10 94 😭<br>
        Rimi Carrots<br>
        Squimched...<br>
        Food shack 😭<br>
        #TOOMUCHSWAG<br>
    </h1>
  </div>
</body>