<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>ZuhairHK</title>
        <link rel="stylesheet" href="static/style.css">
        <meta property="og:type" content="website">
        <meta property="og:title" content="website title" />
        <meta property="og:description" content="website description" />
        <meta property="og:url" content="http://127.0.0.1:5000/sotw" />
        <!-- <meta property="og:image" content="full thumbnail path" /> -->
    </head>

    <body>

        <section class="top-sotw">

            <h1 class="sotw-heading"><center><strong>Current Favs 🤙</strong></center></h1>

            <div class="grid-wrapper">
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/3F5CgOj3wFlRv51JsHbxhe?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div>
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5SpZDtg5U1W35HNjq1xYrM?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHEYAH</p></center>
                </div>
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/4bgXEwLBvgVywxVlfaEpEm?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div>
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/4R67rQNSbbsR4TdUVOIdez?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div>
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/06mXSNndoxDKhzwFqt1GP6?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div>
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5MUxrNd7Gr2HksLcAlB0IO?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div>
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/4bYLspjdlNAV19Ej8bnwzo?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div> 
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5Bge1Dsqjc14hhGguYML5w?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div>
                <div class="grid-item">
                    <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/6akffeWlG2JB4u8AOJ4WRo?utm_source=generator&theme=0"" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    <center><p>YEAHYEAH</p></center>
                </div>

            </div>

        </section>

        <h1><center>PlaceHolder Text</center></h1>
        <center>
            <iframe class="playlist-embed" src="https://open.spotify.com/embed/playlist/37i9dQZF1EpihuajotStbz?utm_source=generator&theme=0" width="50%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </center>
    </body>

</html>