<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>ZuhairHK</title>
        <link rel="stylesheet" href="static/style.css">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Zu's Tracks" />
        <meta property="og:description" content="My weekly soundtrack" />
        <meta property="og:url" content="https://zuhairhk.herokuapp.com/tracks" />
        <!-- <meta property="og:image" content="full thumbnail path" /> -->
    </head>

    <body>

        <section class="headings">
            <h1 class="sotw-heading"><center>barz barz barz</center></h1>
            <h3 class="sotw-subheading"><center>Tracks I'm Listening to this Week</center></h3>
        </section>

        <div class="grid-wrapper">
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/3azJifCSqg9fRij2yKIbWz?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>SPEEDINCARGOIN90INTHERAIN</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5EV4bGHxVN0kHpcAFvgnTt?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>TTC line 2</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/30AnNG3dFbHLQuSbIVWEbF?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>🤧</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/3gJDgenxLephg09x86IxPs?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>CANTTAKEITNOMORE ‼</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/57lBDEtlUhzU18Co0DToLg?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>operational amplifiers !</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5MUxrNd7Gr2HksLcAlB0IO?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>CARTI GOAT 🐐</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/0dLbrlAVPPjpPqnYfmJsWk?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>literally me 🗣🔊</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/2QpGZOhTCHHiKmpSO9FW4h?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>🏃‍♂️💨</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/0JiHzIVQTBt4MtC7SW90xu?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>tre flip 🛹</p></center>
            </div>

        </div>

        <section class="bottom-sotw">
            <h1 style="font-size: 35px"><center>30 On Repeat 🎵</center></h1>
            <center>
                <iframe class="playlist-embed" src="https://open.spotify.com/embed/playlist/37i9dQZF1EpihuajotStbz?utm_source=generator&theme=0" width="50%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </center>
        </section>
        
    </body>

</html>