<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>zuhairhk</title>
        <link rel="icon" href="static/icon.png">
        <link rel="stylesheet" href="static/style.css">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Zu's Tracks" />
        <meta property="og:description" content="My weekly soundtrack" />
        <meta property="og:url" content="https://zuhairhk.herokuapp.com/tracks" />
        <!-- <meta property="og:image" content="full thumbnail path" /> -->
    </head>

    <body>

        <section class="headings">
            <h1 class="sotw-heading"><center>barz barz barz</center></h1>
            <h3 class="sotw-subheading"><center>Tracks I'm Listening to this Week</center></h3>
        </section>

        <div class="grid-wrapper">
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/15sMBXkb4XHIKPxFLHvDAn?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>🥁🎸</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/7HoWiIdwg7A2vomrmGmW6N?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>🚗</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/4kjI1gwQZRKNDkw1nI475M?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>🏍️</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/4bZJPUQxVNT8rmaxnNSrvV?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>💨</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/37CoOXIsgF3NzbK1zHZetk?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>Peak 🕷️🕸️</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5MUxrNd7Gr2HksLcAlB0IO?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>CARTI GOAT 🐐</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/0og9wKFGgFFNQnrBe7eisG?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>🗣🔊</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/0tMMPZEt6Gyrl9FI8zSicm?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>☁️</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/12Uc8hH4rw2Lb0598pqBtL?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>tre flip 🛹</p></center>
            </div>

        </div>

        <section class="bottom-sotw">
            <h1 style="font-size: 35px"><center>30 On Repeat 🎵</center></h1>
            <center>
                <iframe class="playlist-embed" src="https://open.spotify.com/embed/playlist/37i9dQZF1EpihuajotStbz?utm_source=generator&theme=0" width="50%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </center>
        </section>
        
    </body>

</html>