<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>ZuhairHK</title>
        <link rel="stylesheet" href="static/style.css">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Zu's Tracks" />
        <meta property="og:description" content="Tracks ya boi currently vibin w" />
        <meta property="og:url" content="https://zuhairhk.herokuapp.com/tracks" />
        <!-- <meta property="og:image" content="full thumbnail path" /> -->
    </head>

    <body>

        <section class="headings">
            <h1 class="sotw-heading"><center>barz barz barz</center></h1>
            <h3 class="sotw-subheading"><center>Tracks I'm Listening to this Week</center></h3>
        </section>

        <div class="grid-wrapper">
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/3F5CgOj3wFlRv51JsHbxhe?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>⛽💯</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5SpZDtg5U1W35HNjq1xYrM?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>Stuck in Sunday League but I'm on levels with Ronaldo.</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/4bgXEwLBvgVywxVlfaEpEm?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>WHY MY ROOF LOOK LIKE A T-REX DONE BIT IT</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/4R67rQNSbbsR4TdUVOIdez?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>swing aux</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/06mXSNndoxDKhzwFqt1GP6?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>last laugh is yours</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/5MUxrNd7Gr2HksLcAlB0IO?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>CARTI GOAT 🐐</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/1EjxJHY9A6LMOlvyZdwDly?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>TUM MILE 🗣🔊</p></center>
            </div> 
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/1atTwWcqvhu5OEzRBlOXC4?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>🏃‍♂️💨</p></center>
            </div>
            <div class="grid-item">
                <iframe class="spotify-embed" src="https://open.spotify.com/embed/track/6akffeWlG2JB4u8AOJ4WRo?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <center><p>all out of words</p></center>
            </div>

        </div>

        <section class="bottom-sotw">
            <h1 style="font-size: 35px"><center>30 On Repeat 🎵</center></h1>
            <center>
                <iframe class="playlist-embed" src="https://open.spotify.com/embed/playlist/37i9dQZF1EpihuajotStbz?utm_source=generator&theme=0" width="50%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </center>
        </section>
        
    </body>

</html>